.home-reasons {
  margin: 48px 0;
  &__columns {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 100px;
    @media screen and (max-width: $breakpoint-tablet) {
      gap: 24px;
      flex-flow: row wrap;
    }
  }

  &__column {
    max-width: 270px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    @media screen and (max-width: $breakpoint-mobile) {
      // font-size: 18px;
      margin: 0 auto 40px auto;
      max-width: 350px;
    }
  }

  &__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 8px 0 0 0;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 16px;
    }
  }
  &__desc {
    text-align: center;
    margin: 15px 0 0 0;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 14px;
      margin: 6px 0 0 0;
    }
  }
}
