.the-secret-banner {
  .container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 64px;
    background: url("/img/front-page/the-secret-banner.jpg") center center/cover
      no-repeat;
    min-height: 650px;
    margin-top: -100px;
    [dir="rtl"] & {
      transform: scaleX(-1);
      align-items: flex-end;
    }

    @media screen and (max-width: $breakpoint-desktop) {
      padding: 50px 32px;
    }
    @media screen and (max-width: $breakpoint-tablet-landscape) {
    }
    @media screen and (max-width: $breakpoint-tablet) {
      margin-top: 0;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 0 24px;
      min-height: 300px;
      background-position: center left 30%;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    [dir="rtl"] & {
      transform: scaleX(-1);
    }

    @media screen and (max-width: $breakpoint-desktop-large - 1px) {
      transform: scale(0.9);
    }
    @media screen and (max-width: $breakpoint-tablet-landscape) {
      transform: scale(0.7) translate(-20%, -10%);
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 150%;
      transform: scale(0.5) translate(-50%, 0%);
    }

    .the-secret-banner__btn {
      display: flex;
      margin: 0 0 0 66px;
      padding: 0;
      width: 250px;
      height: 50px;
      max-height: 50px;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #000;
        background: #fff;
      }
    }
  }

  &__box {
    color: #fff;
    max-width: 349px;
    font-family: $font__alt;
    position: relative;

    span {
      position: absolute;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      left: 66px;
      top: 9px;
      // &:lang(ru),
      &:lang(he),
      &:lang(ar) {
        display: none;
      }
    }
  }

  &__title {
    color: #fff;
    font-family: $font__alt;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 148px;
    margin: 0;
    text-transform: none;
  }

  &__desc {
    color: #d9d9d9;
    max-width: 373px;
    font-family: $font__secondary;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 28px 66px;
    &:lang(ru) {
      font-size: 36px;
      line-height: 1.2em;
    }
  }
}
