.site-footer {
  background-color: #fff;

  h2 {
    font-family: $font__main;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    text-transform: uppercase;
    color: $color__text-secondary;
    // @media screen and (max-width: $breakpoint-mobile) {
    //   font-size: 14px;
    // }
  }
  a {
    font-family: $font__main;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: $color__text-main;
    text-decoration: none;
    // @media screen and (max-width: $breakpoint-mobile) {
    //   font-size: 12px;
    // }

    &:hover {
      color: $color__link-hover;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #c8c8c8;
    padding: 32px 0;
    @media screen and (max-width: $breakpoint-tablet) {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .site-footer__widget {
      &:first-child {
        @media screen and (max-width: $breakpoint-tablet) {
          grid-column: 1/-1;
          border-bottom: 1px solid #c8c8c8;
          justify-content: center;
          text-align: center;
        }
      }
    }
    h2 {
      @media screen and (max-width: $breakpoint-mobile) {
        font-size: 16px;
      }
    }
    a {
      @media screen and (max-width: $breakpoint-mobile) {
        font-size: 14px;
      }
    }
  }

  &__contacts {
    max-width: 284px;
    @media screen and (max-width: $breakpoint-tablet) {
      max-width: 100%;
    }
    p {
      margin-bottom: 7px;
      margin-top: 0;
      font-family: $font__main;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5em;
      color: $color__text-alt;
    }
  }

  &__subscribe {
    border-bottom: 1px solid #c8c8c8;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;

    @media screen and (max-width: $breakpoint-tablet) {
      flex-flow: column nowrap;
      align-items: center;
      gap: 16px;
      padding: 41px 0;
    }

    p {
      max-width: 226px;
      @media screen and (max-width: $breakpoint-tablet) {
        margin: 0;
        text-align: center;
      }
    }
  }

  &__bottom {
    min-height: 97px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $breakpoint-mobile) {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 155px;
    }

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .site-footer__credits {
      p {
        @media screen and (max-width: $breakpoint-mobile) {
          margin: 0;
          font-size: 13px;
        }
      }
    }
    .site-footer__social {
      justify-content: center;
      gap: 30px;
      a {
        display: flex;
        align-items: center;
      }
    }
    .site-footer__terms {
      .footer-bottom-menu-container {
        width: 100%;
      }
      ul {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        column-gap: 32px;
        @media screen and (max-width: $breakpoint-tablet) {
          column-gap: 16px;
        }
        @media screen and (max-width: $breakpoint-mobile) {
          justify-content: center;
        }

        li a {
          font-size: 14px;
          line-height: 1.5em;
          @media screen and (max-width: $breakpoint-mobile) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
