//Menu icons
.menu__search {
  img {
    width: 19px;
    height: 19px;
  }
}

.menu__user {
  img {
    width: 15.55px;
    height: 18.3px;
  }
}

.menu__cart {
  img {
    width: 16.86px;
    height: 21.32px;
  }
}

.header-cart-count {
  display: inline-flex;
  margin-top: 5px;
  margin-left: 2px;
  [dir="rtl"] & {
    margin-left: 0px;
    margin-right: 2px;
  }
}
