$breakpoint-mobile-small: 300px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-medium: 1600px;
$breakpoint-desktop-large: 1920px;
$breakpoint-desktop-4k: 3840px;
