$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #000000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #c8c8c8;
$color__text-input-focus: #8b8b8b;
$color__link: #7f573b;
$color__link-visited: #7f573b;
$color__link-hover: #7f573b;
$color__text-main: #8b8b8b;
$color__text-secondary: #5d5d5d;
$color__text-alt: #b6b6b6;

$color__border-button: #000000;
$color__border-button-hover: #000000;
$color__border-button-focus: #000000;
$color__border-input: #ccc;
$color__border-abbr: #666;
